
body
  background-image: url("/droplets.jpg")
  animation: move-background 800s infinite
  background-position: bottom left

@keyframes move-background
  50%
    background-position: center

#logo
  background-color: white
  border-width: 2px
  border-radius: 8px
  padding: 20px

.center-horizontal,
.center-vertical
  display: flex
  justify-content: center

.max-page
  height: 100%

.center-horizontal
  flex-direction: row

.center-vertical
  flex-direction: column

.img-medium
  max-width: 200px

.center-text
  text-align: center
